In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\ROHAN\\erdos'

In [1]:
import pandas as pd
import numpy as np

In [43]:
#To view entire dataframes in a new tab in your webbrowser
import webbrowser as wb

In [7]:
import geopy.distance

In [2]:
from sklearn.metrics import DistanceMetric  #Typing this, "import scikit-learn as sklearn/skl" gives invalid syntax error and later while calculating haversine distance 
                        #gives error, module 'sklearn' has no attribute 'neighbors'

In [2]:
wild1 = pd.read_csv("canadawildfires_2011to2021.csv")

In [3]:
#Binning latitudinal values into discrete bins
wild1["wildlat1"] = pd.cut(x = wild1["latitude"], bins=[41, 45, 50, 55, 60, 65, 70])

In [10]:
wild1

,fid,src_agency,latitude,longitude,date,sizeha,cause,protzone,ecoz_name,wildlat1
0,129874,BC,59.91830,-129.192800,26-07-2012,1.4000,L,,Boreal Cordillera,"(55, 60]"
1,129875,BC,59.78170,-128.858600,07-07-2012,1.1000,L,,Boreal Cordillera,"(55, 60]"
2,129876,BC,59.69840,-128.593800,26-07-2012,0.0010,L,,Boreal Cordillera,"(55, 60]"
3,129877,BC,59.73410,-128.774400,31-07-2012,3.0000,L,,Boreal Cordillera,"(55, 60]"
4,129878,BC,59.44190,-129.087500,08-08-2012,3500.0000,L,,Boreal Cordillera,"(55, 60]"
...,...,...,...,...,...,...,...,...,...,...
63623,423826,PC-WB,59.61015,-113.985117,08-07-2021,65.1000,L,Monitored Response,Taiga Plain,"(55, 60]"
63624,423827,PC-WL,49.11120,-113.836000,04-03-2021,7.6000,H-PB,Prescribed Fire,Montane Cordillera,"(45, 50]"
63625,423828,PC-WL,49.11220,-113.840500,17-03-2021,2.9000,H-PB,Prescribed Fire,Montane Cordillera,"(45, 50]"
63626,423829,PC-WL,49.04630,-113.916300,18-09-2021,0.0001,H,Full Response,Montane Cordillera,"(45, 50]"
63627,423830,PC-WP,57.84200,-93.788000,12-07-2021,3.0000,L,Monitored Response,Hudson Plain,"(55, 60]"

In [16]:
wild1.info(memory_usage= "deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63628 entries, 0 to 63627
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fid         63628 non-null  int64
 1   src_agency  63628 non-null  object
 2   latitude    63628 non-null  float64
 3   longitude   63628 non-null  float64
 4   date        63628 non-null  object
 5   sizeha      63628 non-null  float64
 6   cause       63489 non-null  object
 7   protzone    63628 non-null  object
 8   ecoz_name   63628 non-null  object
 9   wildlat1    63482 non-null  category
dtypes: category(1), float64(3), int64(1), object(5)
memory usage: 18.8 MB

In [11]:
#Saving dataframe to a specified location in the form of csv
wild1.to_csv(r"C:\\Users\\ROHAN\\erdos\\canadawildfiresupdated1_2011to2021.csv")

In [4]:
#generate counts
wild1["wildlat1"].value_counts()

wildlat1
(50, 55]    24325
(45, 50]    20620
(55, 60]    14023
(60, 65]     2840
(41, 45]     1106
(65, 70]      568
Name: count, dtype: int64

In [5]:
clim1 = pd.read_csv("climatedaily1.csv")

In [6]:
#Reading the file which has coordinates of all the weather stations across the 15 "climate daily" csv files
ctc1 = pd.read_csv("climatetotalcoord1.csv")

#Finding unique values from the ctc1 for latitude column
ctclat1 = ctc1["latitude"].unique()
ctclat1 #Output is in array

#Converting array into pandas series object
ctclatser1 = pd.Series(ctclat1)
ctclatser1

0      68.223333
1      50.728889
2      48.471944
3      46.016667
4      45.650000
         ...
201    45.723056
202    46.902778
203    51.473333
204    53.010556
205    45.283333
Length: 206, dtype: float64

In [8]:
#limiting decimal digits to 4
ctc1 = round(ctc1, 4)
#ctc1.head()

   file  longitude  latitude                id
0  cld1  -135.0058   68.2233  2200100.2012.8.2
1  cld1  -135.0058   68.2233  2200100.2012.8.4
2  cld1  -135.0058   68.2233  2200100.2012.8.5
3  cld1  -135.0058   68.2233  2200100.2012.8.6
4  cld1  -135.0058   68.2233  2200100.2012.8.7

In [21]:
len(ctclat1) #Finding the length or the number of elements/values in an array. always one more than the highest array index (206)

206

In [25]:
#Finding unique values from the ctc1 for longitude column
ctclon1 = ctc1["longitude"].unique()
ctclon1 #Output is in array
len(ctclon1)

226

In [9]:
#We found that latitude column and longitude column had different unique values (206 vs 226). Because of this inequality 
#they could not be respahed to form an equal datframe. Instead we are creating a new column which merges latitude and longitude 
#to form a new combined column called coordinates. But since the "+" operator only works on strings, we are also converting the lat and long into 
#strings using astype(). The "," acts as a separator. Beware of NaNs when doing this
ctc1["coordinates"] = ctc1["latitude"].astype(str) + "," + ctc1["longitude"].astype(str)

In [ ]:
#Forming a new file
ctc1.to_csv(r"C:\\Users\\ROHAN\\erdos\\climatetotalcoord2.csv")

In [12]:
#Finding the unique values in the coordinate column
ctc2 = ctc1["coordinates"].unique()
#len(ctc2)

251

In [11]:
ctc3 = pd.DataFrame(ctc2, columns = ["coordinates1"])
ctc3.head()

        coordinates1
0  68.2233,-135.0058
1  68.2233,-135.0056
2   50.7289,-71.0131
3   48.4719,-67.4347
4     46.0167,-71.95

In [14]:
#Splitting the "coordinates1" column to two separate columns (ulatitude & ulongitude) on the basis of the comma delimitor
#For me: Here we had initially given one set of brackets on LHS ctc3[], but we got error, "Cannot set a DataFrame with multiple columns to the 
#single column ('ulatitude', 'ulongitude'). This went away when we put double brackets, ctc3[[]] on LHS. So the no. of columns = no. of brackets

ctc3[["climlatitude", "climlongitude"]] = ctc3.coordinates1.str.split(",", expand = True)

#Checking the first five rows
#ctc3.head()

#Checking the datatypes in the ctc3 dataframe
ctc3.dtypes

#Converting ulat and ulong into float
ctc3["climlatitude"] = ctc3["climlatitude"].astype(float)
ctc3["climlongitude"] = ctc3["climlongitude"].astype(float)

#Saving this into a csv file. On 07/11/2023, we changed ulatitude and ulongitude to climlatitude and climlongitude. coordinates1 became climcoordinates
#Code further changed on 20/11/23 after limiting decimal points to 4
ctc3.to_csv(r"C:\\Users\\ROHAN\\erdos\\climateuniquecoord2.csv")

In [20]:
#Let's try to find unique values in all the columns
#Currently not useful
ctcall1 = pd.concat([ctc1["latitude"], ctc1["longitude"], ctc1["id"]]).unique()
ctcall1
len(ctcall1)

#df1 = pd.DataFrame(ctcall1, columns = ["ulatitude", "ulongitude", "uid"])

615571

In [12]:
wild2 = pd.read_csv("canadawildfiresupdated1_2011to2021.csv")
wild2.shape

(63628, 11)

In [22]:
wild2["coordinates"] = wild2["latitude"].astype(str) + "," + wild2["longitude"].astype(str)
wild2.head()

#Saving the updated dataframe
#wild2.to_csv(r"C:\\Users\\ROHAN\\erdos\\canadawildfiresupdated2_2011to2021.csv")

,Unnamed: 0,fid,src_agency,latitude,longitude,date,sizeha,cause,protzone,ecoz_name,wildlat1,coordinates
0,0,129874,BC,59.9183,-129.1928,26-07-2012,1.400,L,,Boreal Cordillera,"(55, 60]","59.9183,-129.1928"
1,1,129875,BC,59.7817,-128.8586,07-07-2012,1.100,L,,Boreal Cordillera,"(55, 60]","59.7817,-128.8586"
2,2,129876,BC,59.6984,-128.5938,26-07-2012,0.001,L,,Boreal Cordillera,"(55, 60]","59.6984,-128.5938"
3,3,129877,BC,59.7341,-128.7744,31-07-2012,3.000,L,,Boreal Cordillera,"(55, 60]","59.7341,-128.7744"
4,4,129878,BC,59.4419,-129.0875,08-08-2012,3500.000,L,,Boreal Cordillera,"(55, 60]","59.4419,-129.0875"

## Quebec codechunk
#### Look for the codeblocks with the comment "Codename Quebec". Those are the ones which are pertinent to get a dataset that consists of the unique values for the shortest distance between fires and weather station. The other blocks are just me trying out different things. You may also try those out. The datasets for all of those are provided too

In [15]:
# Codename Quebec
#DataFrame1 from the canadawildfiresupdated2_2011to2021 file
fire1 = pd.read_csv("canadawildfiresupdated2_2011to2021.csv")
#fire1.head(2)

In [16]:
#Limiting decimal points to 4
fire1 = round(fire1, 4)

In [17]:
#Codename Quebec
#Making a dataframe for only the Quebec region
mask = fire1["src_agency"] == "QC"
fire2_qc = fire1[mask]
fire2_qc.shape

(5514, 13)

In [18]:
#Codename Quebec
clim1 = pd.read_csv("climateuniquecoord2.csv")
clim1 = round(clim1, 4)
clim1.head(2)

   Unnamed: 0       coordinates1  climlatitude  climlongitude
0           0  68.2233,-135.0058       68.2233      -135.0058
1           1  68.2233,-135.0056       68.2233      -135.0056

In [26]:
wild2.set_index("fid", inplace = True)
wild2.head()

#Problem1: When we use the column "coordinates" to set index, we get Key error, None of ["coordinates"] are in the columns
#Problem2: When we use "fid" to set index, we get a dataframe minus the coordinates columns

,Unnamed: 0,src_agency,latitude,longitude,date,sizeha,cause,protzone,ecoz_name,wildlat1
fid,,,,,,,,,,
129874,0,BC,59.9183,-129.1928,26-07-2012,1.400,L,,Boreal Cordillera,"(55, 60]"
129875,1,BC,59.7817,-128.8586,07-07-2012,1.100,L,,Boreal Cordillera,"(55, 60]"
129876,2,BC,59.6984,-128.5938,26-07-2012,0.001,L,,Boreal Cordillera,"(55, 60]"
129877,3,BC,59.7341,-128.7744,31-07-2012,3.000,L,,Boreal Cordillera,"(55, 60]"
129878,4,BC,59.4419,-129.0875,08-08-2012,3500.000,L,,Boreal Cordillera,"(55, 60]"

In [30]:
clim2 = pd.read_clipboard()
clim2.head()

            climcoordinates
0  68.22333333,-135.0058333
1  68.22333333,-135.0055556
2  50.72888889,-71.01305556
3  48.47194444,-67.43472222
4        46.01666667,-71.95

In [52]:
#Cross joining the two dataframes
cj2 = fire1.merge(clim1, how = "cross")
cj3 = cj2.head(1000)

In [19]:
#Codename Quebec
#Crossjoining quebec dataset
cj5 = fire2_qc.merge(clim1, how = "cross")
cj5.shape
cj5.head(2)

,Unnamed: 0.1,Unnamed: 0_x,fid,src_agency,latitude,longitude,date,sizeha,cause,protzone,ecoz_name,wildlat1,coordinates,Unnamed: 0_y,coordinates1,climlatitude,climlongitude
0,47903,47903,328420,QC,52.5747,-76.5213,01-07-2019,408.5,L,nordique,Hudson Plain,"(50, 55]","52.5747,-76.5213",0,"68.2233,-135.0058",68.2233,-135.0058
1,47903,47903,328420,QC,52.5747,-76.5213,01-07-2019,408.5,L,nordique,Hudson Plain,"(50, 55]","52.5747,-76.5213",1,"68.2233,-135.0056",68.2233,-135.0056

In [20]:
cj2_1 = fire1.filter(["coordinates"]).merge(clim1.filter(["climcoordinates"]), how= "cross")
cj2_1.head(2)

         coordinates           climcoordinates
0  59.9183,-129.1928  68.22333333,-135.0058333
1  59.9183,-129.1928  68.22333333,-135.0055556

In [ ]:
cj2_1.assign

In [13]:
fire1.head(10)

,Unnamed: 0.1,Unnamed: 0,fid,src_agency,latitude,longitude,date,sizeha,cause,protzone,ecoz_name,wildlat1,coordinates
0,0,0,129874,BC,59.9183,-129.1928,26-07-2012,1.400,L,,Boreal Cordillera,"(55, 60]","59.9183,-129.1928"
1,1,1,129875,BC,59.7817,-128.8586,07-07-2012,1.100,L,,Boreal Cordillera,"(55, 60]","59.7817,-128.8586"
2,2,2,129876,BC,59.6984,-128.5938,26-07-2012,0.001,L,,Boreal Cordillera,"(55, 60]","59.6984,-128.5938"
3,3,3,129877,BC,59.7341,-128.7744,31-07-2012,3.000,L,,Boreal Cordillera,"(55, 60]","59.7341,-128.7744"
4,4,4,129878,BC,59.4419,-129.0875,08-08-2012,3500.000,L,,Boreal Cordillera,"(55, 60]","59.4419,-129.0875"
5,5,5,129879,BC,59.6270,-128.8263,05-08-2012,1.500,L,,Boreal Cordillera,"(55, 60]","59.627,-128.8263"
6,6,6,129880,BC,59.6086,-129.0875,05-08-2012,0.009,L,,Boreal Cordillera,"(55, 60]","59.6086,-129.0875"
7,7,7,129881,BC,59.4670,-129.0421,10-08-2012,5.000,L,,Boreal Cordillera,"(55, 60]","59.467,-129.0421"
8,8,8,129882,BC,59.5088,-128.6705,14-08-2012,1.400,L,,Boreal Cordillera,"(55, 60]","59.5088,-128.6705"
9,9,9,129883,BC,59.9200,-128.6567,12-08-2012,0.009,L,,Boreal Cordillera,"(55, 60]","59.92,-128.6567"

In [53]:
cj3.to_csv(r"C:\\Users\\ROHAN\\erdos\\fire_stations_crossjoin2.csv")

In [4]:
#Calling in this new file after adding a new column for the joint fire-climate combo
cj4 = pd.read_csv("fire_stations_crossjoin2.csv")

In [21]:
cj4.shape

(1000, 19)

In [55]:
#The analysis requires the latitude and longitude to be in radians. So doing so using np.radians for fire coordinates
cj4[["firelat_radians","firelong_radians"]] = np.radians(cj4.loc[:,["latitude", "longitude"]])
#cj2.head(2)

In [56]:
#Converting coordinates to radians for weather stations
cj4[["climlat_radians", "climlong_radians"]] = np.radians(cj4.loc[:,["climlatitude", "climlongitude"]])

In [20]:
#Codename Quebec
#Converting fire and weather(climate) station data of quebec to radians for applying haversine formula
cj5[["firelat_radians","firelong_radians"]] = np.radians(cj5.loc[:,["latitude", "longitude"]])
cj5[["climlat_radians", "climlong_radians"]] = np.radians(cj5.loc[:,["climlatitude", "climlongitude"]])

In [21]:
cj5.head(2)

,Unnamed: 0.1,Unnamed: 0_x,fid,src_agency,latitude,longitude,date,sizeha,cause,protzone,...,wildlat1,coordinates,Unnamed: 0_y,coordinates1,climlatitude,climlongitude,firelat_radians,firelong_radians,climlat_radians,climlong_radians
0,47903,47903,328420,QC,52.5747,-76.5213,01-07-2019,408.5,L,nordique,...,"(50, 55]","52.5747,-76.5213",0,"68.2233,-135.0058",68.2233,-135.0058,0.917602,-1.335549,1.190721,-2.356296
1,47903,47903,328420,QC,52.5747,-76.5213,01-07-2019,408.5,L,nordique,...,"(50, 55]","52.5747,-76.5213",1,"68.2233,-135.0056",68.2233,-135.0056,0.917602,-1.335549,1.190721,-2.356292

In [57]:
#Calculating the haversine distance between the two points. Since, computation assumes the radius of the sphere is 1, we
#multiply it by 6371, the avg radius of earth in kms. Dataframe running to PiB size for cj2 dataframe. computer unable to allocate memory. shorten. check cj4
dist1 = sklearn.metrics.DistanceMetric.get_metric("haversine")

dist1matrix = dist1.pairwise(
    cj4[["firelat_radians", "firelong_radians"]],
    cj4[["climlat_radians", "climlong_radians"]])* 6371

#Converting the matrix into a dataframe
dist1df = pd.DataFrame(dist1matrix, index = cj4["jointID"],
                       columns = cj4["wid"])

In [22]:
#Codename Quebec
#Defining the haversine formula
def haversine_distance(lon1, lat1, lon2, lat2):
    newlat = lat2 - lat1
    newlon = lon2 - lon1

    haver_formula = np.sin(newlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(newlon/2.0)**2

    dist = 2 * np.arcsin(np.sqrt(haver_formula ))
    # use appropriate value for radius of the earth (this is crude!)
    km = 6367 * dist #6367 for distance in KM for miles use 3958
    return km

In [23]:
#Codename Quebec
#To compute distances by applying the formula
cj5["distance_km"] = haversine_distance(cj5["firelong_radians"], cj5["firelat_radians"], cj5["climlong_radians"], 
                                                  cj5["climlat_radians"])

In [16]:
#Check if every value in column "distance_km" is unique
cj5["distance_km"].is_unique

False

In [17]:
#Find the count of dupicated values in column "distance_km"
cj5.duplicated(subset = "distance_km").sum()

6276

In [24]:
#Codename Quebec
#We group by the entire dataset on the basis of fire identity (fid) and then select the rows with minimum value for distance from weather station
#cj6 = cj5.groupby("fid", as_index = False).min("distance_km"); When we ran this code the other columns like lat, long etc had their first values 
#instead of the one corresponding to the lowest distance_km

cj6qc = cj5.groupby(["fid"])["distance_km"].min()

#Converting cj6qc, which is a series object, into a dataframe
cj6qc = pd.DataFrame(cj6qc, columns = ["distance_km"])

#Now make index of cj6qc as column "fid" and change index
cj6qc['fid'] = cj6qc.index
cj6qc.index = range(cj6qc.shape[0])

#Now merging cj5 and cj6qc on both columns "fid" and "distance_km"
cj7qc = pd.merge(cj5, cj6qc, on = ["fid", "distance_km"])

In [25]:
#Codename Quebec
#cj6qc.head(3)
cj7qc.head(3)

,Unnamed: 0.1,Unnamed: 0_x,fid,src_agency,latitude,longitude,date,sizeha,cause,protzone,...,coordinates,Unnamed: 0_y,coordinates1,climlatitude,climlongitude,firelat_radians,firelong_radians,climlat_radians,climlong_radians,distance_km
0,47903,47903,328420,QC,52.5747,-76.5213,01-07-2019,408.5,L,nordique,...,"52.5747,-76.5213",78,"53.6253,-77.7042",53.6253,-77.7042,0.917602,-1.335549,0.935938,-1.356194,140.918574
1,47904,47904,328421,QC,52.5730,-76.5418,01-07-2019,34.5,L,nordique,...,"52.573,-76.5418",45,"52.2264,-78.5225",52.2264,-78.5225,0.917572,-1.335906,0.911523,-1.370476,139.705991
2,47905,47905,328422,QC,50.9285,-78.0518,01-07-2019,141.9,L,nordique,...,"50.9285,-78.0518",245,"51.4733,-78.7583",51.4733,-78.7583,0.888870,-1.362261,0.898379,-1.374592,78.007054

In [30]:
#Codename Quebec
cj7qc.to_csv(r"C:\\Users\\ROHAN\\erdos\\quebecfire_mindist1.csv")

In [26]:
#Checking to see if the value of distance_km column in both cj5 and cj6qc is same or not using iloc
#display(cj5.iloc[80]) #Rownumbers not matching in csv file. row 82 in file is 311.645578 whereas row80 is 140.915295 but here it shows the former is row80
row_num = cj5[cj5["distance_km"] == 140.915295].index.to_numpy()
print(row_num)

[]

In [16]:
cj6.duplicated(subset = "fid").sum()

0

In [58]:
dist1df.head(5)

wid,wid1,wid2,wid3,wid4,wid5,wid6,wid7,wid8,wid9,wid10,...,wid238,wid239,wid240,wid241,wid242,wid243,wid244,wid245,wid246,wid247
jointID,,,,,,,,,,,,,,,,,,,,,
FC1,964.739099,964.735244,3686.887759,4045.843677,3981.821821,3910.879061,3975.51317,4012.007403,4012.217518,4023.146537,...,3938.10854,4014.853347,4008.766483,3880.541296,4033.496094,4034.234603,3925.087458,3938.840057,3208.931244,3105.246185
FC2,964.739099,964.735244,3686.887759,4045.843677,3981.821821,3910.879061,3975.51317,4012.007403,4012.217518,4023.146537,...,3938.10854,4014.853347,4008.766483,3880.541296,4033.496094,4034.234603,3925.087458,3938.840057,3208.931244,3105.246185
FC3,964.739099,964.735244,3686.887759,4045.843677,3981.821821,3910.879061,3975.51317,4012.007403,4012.217518,4023.146537,...,3938.10854,4014.853347,4008.766483,3880.541296,4033.496094,4034.234603,3925.087458,3938.840057,3208.931244,3105.246185
FC4,964.739099,964.735244,3686.887759,4045.843677,3981.821821,3910.879061,3975.51317,4012.007403,4012.217518,4023.146537,...,3938.10854,4014.853347,4008.766483,3880.541296,4033.496094,4034.234603,3925.087458,3938.840057,3208.931244,3105.246185
FC5,964.739099,964.735244,3686.887759,4045.843677,3981.821821,3910.879061,3975.51317,4012.007403,4012.217518,4023.146537,...,3938.10854,4014.853347,4008.766483,3880.541296,4033.496094,4034.234603,3925.087458,3938.840057,3208.931244,3105.246185

In [59]:
#Data is in wide format. Convert to long
dist1long = pd.melt(dist1df.reset_index(), id_vars = "jointID")
dist1long = dist1long.rename(columns={'value':'kms'})

In [46]:
#Data is in wide format. Convert to long
dist2long = pd.melt(dist2df.reset_index(), id_vars = "wid")
dist2long = dist2long.rename(columns={'value':'kms'})

In [60]:
dist1long.head(3)

  jointID   wid         kms
0     FC1  wid1  964.739099
1     FC2  wid1  964.739099
2     FC3  wid1  964.739099

In [5]:
#Calculating the geodesic distance
fireloc = (cj4["latitude"], cj4["longitude"])
climateloc = (cj4["climlatitude"], cj4["climlongitude"])

In [26]:
#Codename Quebec
#Reading all the climate data files into one sheet
cd1 = pd.read_csv("climate-daily-1.csv")
cd2 = pd.read_csv("climate-daily-2.csv")
cd3 = pd.read_csv("climate-daily-3.csv")
cd4 = pd.read_csv("climate-daily-4.csv")
cd5 = pd.read_csv("climate-daily-5.csv")
cd6 = pd.read_csv("climate-daily-6.csv")
cd7_1 = pd.read_csv("climate-daily-7.1.csv")
cd7_2 = pd.read_csv("climate-daily-7.2.csv")
cd8 = pd.read_csv("climate-daily-8.csv")
cd9 = pd.read_csv("climate-daily-9.csv")
cd10 = pd.read_csv("climate-daily-10.csv")
cd11 = pd.read_csv("climate-daily-11.csv")
cd12 = pd.read_csv("climate-daily-12.csv")
cd13 = pd.read_csv("climate-daily-13.csv")
cd14 = pd.read_csv("climate-daily-14.csv")

C:\Users\ROHAN\AppData\Local\Temp\ipykernel_4312\1406454216.py:4: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  cd2 = pd.read_csv("climate-daily-2.csv")
C:\Users\ROHAN\AppData\Local\Temp\ipykernel_4312\1406454216.py:5: DtypeWarning: Columns (23,28,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  cd3 = pd.read_csv("climate-daily-3.csv")
C:\Users\ROHAN\AppData\Local\Temp\ipykernel_4312\1406454216.py:6: DtypeWarning: Columns (4,25,32) have mixed types. Specify dtype option on import or set low_memory=False.
  cd4 = pd.read_csv("climate-daily-4.csv")
C:\Users\ROHAN\AppData\Local\Temp\ipykernel_4312\1406454216.py:8: DtypeWarning: Columns (12,15,18,19,23) have mixed types. Specify dtype option on import or set low_memory=False.
  cd6 = pd.read_csv("climate-daily-6.csv")
C:\Users\ROHAN\AppData\Local\Temp\ipykernel_4312\1406454216.py:9: DtypeWarning: Columns (7,12,21,28,31) have mixed types. Specify dtype option on import or set low_memory=False.
  cd7_1 = pd.read_csv("climate-daily-7.1.csv")
C:\Users\ROHAN\AppData\Local\Temp\ipykernel_4312\1406454216.py:12: DtypeWarning: Columns (7,16,17,18,23) have mixed types. Specify dtype option on import or set low_memory=False.
  cd9 = pd.read_csv("climate-daily-9.csv")
C:\Users\ROHAN\AppData\Local\Temp\ipykernel_4312\1406454216.py:13: DtypeWarning: Columns (18,23) have mixed types. Specify dtype option on import or set low_memory=False.
  cd10 = pd.read_csv("climate-daily-10.csv")
C:\Users\ROHAN\AppData\Local\Temp\ipykernel_4312\1406454216.py:14: DtypeWarning: Columns (7,16,17,18,23) have mixed types. Specify dtype option on import or set low_memory=False.
  cd11 = pd.read_csv("climate-daily-11.csv")
C:\Users\ROHAN\AppData\Local\Temp\ipykernel_4312\1406454216.py:15: DtypeWarning: Columns (7,16,17,18,23) have mixed types. Specify dtype option on import or set low_memory=False.
  cd12 = pd.read_csv("climate-daily-12.csv")
C:\Users\ROHAN\AppData\Local\Temp\ipykernel_4312\1406454216.py:16: DtypeWarning: Columns (2,3,6,12,16,20,22,23,25) have mixed types. Specify dtype option on import or set low_memory=False.
  cd13 = pd.read_csv("climate-daily-13.csv")
C:\Users\ROHAN\AppData\Local\Temp\ipykernel_4312\1406454216.py:17: DtypeWarning: Columns (2,12,16,22,25) have mixed types. Specify dtype option on import or set low_memory=False.
  cd14 = pd.read_csv("climate-daily-14.csv")

In [27]:
#Codename Quebec
#Convert all column names into lowercase
cd1.columns = cd1.columns.str.lower()
cd2.columns = cd2.columns.str.lower()
cd3.columns = cd3.columns.str.lower()
cd4.columns = cd4.columns.str.lower()
cd5.columns = cd5.columns.str.lower()
cd6.columns = cd6.columns.str.lower()
cd7_1.columns = cd7_1.columns.str.lower()
cd7_2.columns = cd7_2.columns.str.lower()
cd8.columns = cd8.columns.str.lower()
cd9.columns = cd9.columns.str.lower()
cd10.columns = cd10.columns.str.lower()
cd11.columns = cd11.columns.str.lower()
cd12.columns = cd12.columns.str.lower()
cd13.columns = cd13.columns.str.lower()
cd14.columns = cd14.columns.str.lower()

In [28]:
#Codename Quebec
#Rearranging all columns alphabetically
cd1 = cd1.reindex(sorted(cd1.columns), axis = 1)
cd2 = cd2.reindex(sorted(cd2.columns), axis = 1)
cd3 = cd3.reindex(sorted(cd3.columns), axis = 1)
cd4 = cd4.reindex(sorted(cd4.columns), axis = 1)
cd5 = cd5.reindex(sorted(cd5.columns), axis = 1)
cd6 = cd6.reindex(sorted(cd6.columns), axis = 1)
cd7_1 = cd7_1.reindex(sorted(cd7_1.columns), axis = 1)
cd7_2 = cd7_2.reindex(sorted(cd7_2.columns), axis = 1)
cd8 = cd8.reindex(sorted(cd8.columns), axis = 1)
cd9 = cd9.reindex(sorted(cd9.columns), axis = 1)
cd10 = cd10.reindex(sorted(cd10.columns), axis = 1)
cd11 = cd11.reindex(sorted(cd11.columns), axis = 1)
cd12 = cd12.reindex(sorted(cd12.columns), axis = 1)
cd13 = cd13.reindex(sorted(cd13.columns), axis = 1)
cd14 = cd14.reindex(sorted(cd14.columns), axis = 1)

In [49]:
#Combining all of the dataframes into one
from functools import reduce

In [50]:
#did not work because of memory error
#cdlist = [cd1, cd2,cd3, cd4, cd5, cd6, cd7_1, cd7_2, cd8, cd9, cd10, cd11, cd12, cd13, cd14]
#cd_total = reduce(lambda left, right: pd.merge(left, right, on = "province_code"), cdlist)

MemoryError: Unable to allocate 26.2 GiB for an array with shape (3518836541,) and data type int64

In [29]:
#Codename Quebec
cd1_1 = pd.concat([cd1,cd2])
cd1_2 = pd.concat([cd1_1, cd3])
cd1_3 = pd.concat([cd1_2, cd4])
cd1_4 = pd.concat([cd1_3, cd5])
cd1_5 = pd.concat([cd1_4, cd6])
cd1_6 = pd.concat([cd1_5, cd7_1])
cd1_7 = pd.concat([cd1_6, cd7_2])
cd1_8 = pd.concat([cd1_7, cd8])
cd1_9 = pd.concat([cd1_8, cd9])
cd1_10 = pd.concat([cd1_9, cd10])
cd1_11 = pd.concat([cd1_10, cd11])
cd1_12 = pd.concat([cd1_11, cd12])
cd1_13 = pd.concat([cd1_12, cd13])
cdtotal = pd.concat([cd1_13, cd14])

In [33]:
cdtotal.to_csv(r"C:\\Users\\ROHAN\\erdos\\cdtotal2.csv")

In [32]:
cdtotal.shape

(745013, 36)

In [31]:
cdtotal = round(cdtotal, 4)

In [9]:
#Codename Quebec
cdtotal2 = pd.read_csv("cdtotal2.csv")

C:\Users\ROHAN\AppData\Local\Temp\ipykernel_5784\2294564211.py:2: DtypeWarning: Columns (0,4,13,19,26) have mixed types. Specify dtype option on import or set low_memory=False.
  cdtotal2 = pd.read_csv("cdtotal2.csv")

In [10]:
cdtotal2 = round(cdtotal2, 4)

In [42]:
cdtotal2.head(2)

,Unnamed: 0,climate_identifier,cooling_degree_days,cooling_degree_days_flag,direction_max_gust,direction_max_gust_flag,heating_degree_days,heating_degree_days_flag,id,local_date,...,speed_max_gust_flag,station_name,total_precipitation,total_precipitation_flag,total_rain,total_rain_flag,total_snow,total_snow_flag,x,y
0,0,2200100,1.2,NaN,NaN,NaN,0.0,NaN,2200100.2012.8.2,02-08-2012,...,NaN,AKLAVIK A,0.0,T,0.0,T,0.0,NaN,-135.0058,68.2233
1,1,2200100,0.0,NaN,NaN,NaN,1.8,NaN,2200100.2012.8.4,04-08-2012,...,NaN,AKLAVIK A,0.0,NaN,0.0,NaN,0.0,NaN,-135.0058,68.2233

In [35]:
#Codename Quebec
fire1qc = pd.read_csv("quebecfire_mindist1.csv")

In [36]:
fire1qc.shape

(5514, 23)

In [17]:
#Codename Quebec
#Creating a smaller dataframe from a larger dataframe by randomly selecting a set number of rows (In this case, 5520)
cdtotal2 = cdtotal1.sample(n = 5520)
cdtotal2.shape
cdtotal2.to_csv(r"C:\\Users\\ROHAN\\erdos\\cd5000.csv")

In [11]:
cdtotal2.info()
fire1qc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5520 entries, 615699 to 693543
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                5520 non-null   int64
 1   climate_identifier        5520 non-null   object
 2   cooling_degree_days       3777 non-null   float64
 3   cooling_degree_days_flag  844 non-null    object
 4   direction_max_gust        1826 non-null   float64
 5   direction_max_gust_flag   325 non-null    object
 6   heating_degree_days       3777 non-null   float64
 7   heating_degree_days_flag  844 non-null    object
 8   id                        5520 non-null   object
 9   local_date                5520 non-null   object
 10  local_day                 5520 non-null   int64
 11  local_month               5520 non-null   int64
 12  local_year                5520 non-null   int64
 13  max_rel_humidity          1119 non-null   float64
 14  max_rel_humidity_flag     156 non-null    object
 15  max_temperature           4754 non-null   float64
 16  max_temperature_flag      545 non-null    object
 17  mean_temperature          3777 non-null   float64
 18  mean_temperature_flag     844 non-null    object
 19  min_rel_humidity          1121 non-null   float64
 20  min_rel_humidity_flag     154 non-null    object
 21  min_temperature           4763 non-null   float64
 22  min_temperature_flag      570 non-null    object
 23  province_code             5520 non-null   object
 24  snow_on_ground            3002 non-null   float64
 25  snow_on_ground_flag       439 non-null    object
 26  speed_max_gust            1847 non-null   float64
 27  speed_max_gust_flag       304 non-null    object
 28  station_name              5520 non-null   object
 29  total_precipitation       4150 non-null   float64
 30  total_precipitation_flag  1332 non-null   object
 31  total_rain                2843 non-null   float64
 32  total_rain_flag           1821 non-null   object
 33  total_snow                2996 non-null   float64
 34  total_snow_flag           1706 non-null   object
 35  x                         5520 non-null   float64
 36  y                         5520 non-null   float64
dtypes: float64(15), int64(4), object(18)
memory usage: 1.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5514 entries, 0 to 5513
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0.2      5514 non-null   int64
 1   Unnamed: 0.1      5514 non-null   int64
 2   Unnamed: 0        5514 non-null   int64
 3   fid               5514 non-null   int64
 4   src_agency        5514 non-null   object
 5   latitude          5514 non-null   float64
 6   longitude         5514 non-null   float64
 7   date              5514 non-null   object
 8   sizeha            5514 non-null   float64
 9   cause             5514 non-null   object
 10  protzone          5514 non-null   object
 11  ecoz_name         5514 non-null   object
 12  wildlat1          5514 non-null   object
 13  coordinates       5514 non-null   object
 14  climcoordinates   5514 non-null   object
 15  wid               5514 non-null   object
 16  climlatitude      5514 non-null   float64
 17  climlongitude     5514 non-null   float64
 18  firelat_radians   5514 non-null   float64
 19  firelong_radians  5514 non-null   float64
 20  climlat_radians   5514 non-null   float64
 21  climlong_radians  5514 non-null   float64
 22  distance_km       5514 non-null   float64
dtypes: float64(10), int64(4), object(9)
memory usage: 990.9+ KB

In [8]:
#Codename Quebec
#Seeing the list of columns in cdtotal2 as there is 1 column more than cdtotal1
sorted(cdtotal2)

#Checking the head of the dataframe
cdtotal2.head(2)

,Unnamed: 0,climate_identifier,cooling_degree_days,cooling_degree_days_flag,direction_max_gust,direction_max_gust_flag,heating_degree_days,heating_degree_days_flag,id,local_date,...,speed_max_gust_flag,station_name,total_precipitation,total_precipitation_flag,total_rain,total_rain_flag,total_snow,total_snow_flag,x,y
615699,14560,7016902,NaN,NaN,NaN,NaN,NaN,NaN,7016902.2019.6.3,2019-06-03 00:00:00,...,NaN,STE BEATRIX,NaN,M,NaN,M,0.0,NaN,-73.600000,46.200000
211779,43383,7043BP9,0.0,NaN,27.0,NaN,10.8,NaN,7043BP9.2017.10.18,2017-10-18 00:00:00,...,NaN,ILE ROUGE,0.4,NaN,NaN,M,NaN,M,-69.555556,48.068889

In [9]:
fire1qc.head(2)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,fid,src_agency,latitude,longitude,date,sizeha,cause,...,coordinates,climcoordinates,wid,climlatitude,climlongitude,firelat_radians,firelong_radians,climlat_radians,climlong_radians,distance_km
0,0,47903,47903,328420,QC,52.5747,-76.5213,01-07-2019,408.5,L,...,"52.5747,-76.5213","53.62527778,-77.70416667",wid79,53.625278,-77.704167,0.917602,-1.335549,0.935938,-1.356194,140.915295
1,1,47904,47904,328421,QC,52.5730,-76.5418,01-07-2019,34.5,L,...,"52.573,-76.5418","52.22638889,-78.5225",wid46,52.226389,-78.522500,0.917572,-1.335906,0.911522,-1.370476,139.706348

In [37]:
#Codename Quebec 007
#Since unsure of datetime format and getting object as the column datatype (strings, i guess), convert them all to 
#one particular format
#Converting "date" column from object to datetime datatype. Since "date" was not in format of mm/dd/yy and it was an object(string or list, maybe), 
#it was giving error and we had to specify that in our case, the date was in the format of dayfirst and thus had to be parsed in that way 
fire1qc["date"] = pd.to_datetime(fire1qc["date"], dayfirst = True)

#Change the format to one we like
fire1qc["firedate_formatted"] = fire1qc["date"].dt.strftime("%d/%m/%Y")

In [54]:
fire1qc.head(2)

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0_x,fid,src_agency,latitude,longitude,date,sizeha,cause,...,Unnamed: 0_y,coordinates1,climlatitude,climlongitude,firelat_radians,firelong_radians,climlat_radians,climlong_radians,distance_km,firedate_formatted
0,0,47903,47903,328420,QC,52.5747,-76.5213,2019-07-01,408.5,L,...,78,"53.6253,-77.7042",53.6253,-77.7042,0.917602,-1.335549,0.935938,-1.356194,140.918574,01/07/2019
1,1,47904,47904,328421,QC,52.5730,-76.5418,2019-07-01,34.5,L,...,45,"52.2264,-78.5225",52.2264,-78.5225,0.917572,-1.335906,0.911523,-1.370476,139.705991,01/07/2019

In [40]:
#Codename Quebec
#Doing the same for cdtotal2. got error
cdtotal2["local_date"] = pd.to_datetime(cdtotal2["local_date"], yearfirst = True)

ValueError: time data "01-04-2011" doesn't match format "%Y-%m-%d %H:%M:%S", at position 123211. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [20]:
#Codename Quebec
#To combat the error of the following error that came up with the previous code, "time data "12-12-2011" doesn't match 
#format "%Y-%m-%d %H:%M:%S", at position 39" which told us that in the cdtotal2 date format, one of the cells was dd-mm-yyyy instead of the regular
#yyyy-mm-dd. Thus we formatted the cells after creating a csvdatafile
cdtotal3 = pd.read_csv("cd5000.csv")
cdtotal3["local_date"].head(2)

0    13-05-2018
1    28-03-2013
Name: local_date, dtype: object

In [22]:
#Codename Quebec
#Doing the same for cdtotal2
cdtotal3["local_date"] = pd.to_datetime(cdtotal3["local_date"], dayfirst = True)
cdtotal3["climdate_formatted"] = cdtotal3["local_date"].dt.strftime("%d/%m/%Y")

In [25]:
#Codename Quebec
#Finding common values between the two dataframe dates to see if some climate dates coincide with fire dates
comval1 = set(fire1qc["firedate_formatted"].values) & set(cdtotal3["climdate_formatted"].values)
len(comval1)

1076

In [26]:
#Codename Quebec
#We will filter out all those rows in cdtotal3 that share common dates with fire1qc dates
cdtotal_nf1 = cdtotal3[~cdtotal3["climdate_formatted"].isin(fire1qc["firedate_formatted"])]

In [27]:
cdtotal_nf1.shape

(3511, 39)

## Creating the no fire climate data subset for the zeros
#### *Codename Quebec 007 is also part of this code. Remember to run it along with this code chunk

In [11]:
#Codename Quebec
#Now I am gonna make up the 1076 datapoint difference by resampling from the original cdtotal1 dataframe
cdtotal2["local_date"] = pd.to_datetime(cdtotal2["local_date"], dayfirst = True)
cdtotal2["climdate_formatted"] = cdtotal2["local_date"].dt.strftime("%d/%m/%Y")

In [6]:
#Codename Quebec
#We will filter out all those rows in cdtotal1 that share common dates with fire1qc dates and get a dataset that doesn't contain them
cdtotal_nf2 = cdtotal1[~cdtotal1["climdate_formatted"].isin(fire1qc["firedate_formatted"])]

In [32]:
cdtotal_nf2.shape #Weird that fire1qc has 5514 rows of data but 269,148 rows have been removed here. Is it possible there
                    #were duplicates? Seems like it

(475865, 38)

### No fire dataset

In [7]:
#Codename Quebec
#Now creating the new subset of 5514 no fire datapoints from the original cdtotal dataset
cdnf1 = cdtotal_nf2.sample(n = 5514)

In [35]:
comval2 = set(fire1qc["firedate_formatted"].values) & set(cdnf1["climdate_formatted"].values)
len(comval2)

0

## Creating a dataset that has climate data from weather station for corresponding fires

In [44]:
#Finding climate data for the fires on the basis of common dates
comval3 = set(fire1qc["firedate_formatted"].values) & set(cdtotal2["climdate_formatted"].values)
len(comval3)

1422

In [49]:
cdtotal2.shape

(745013, 38)

In [50]:
#Creating a filter using Boolean indexing to select rows which share common dates between cdtotal2 and fire1qc
cdfirecom1 = cdtotal2["climdate_formatted"].isin(fire1qc["firedate_formatted"])

In [51]:
#Applying filter to new dataset
cdtotal_firedate1 = cdtotal2[cdfirecom1]

In [52]:
cdtotal_firedate1.shape

(269148, 38)

In [21]:
cdtotal_firedate1.to_csv(r"C:\\Users\\ROHAN\\erdos\\cdtotal_commonfiredates.csv")

In [53]:
cdtotal_firedate1.head(2)

,Unnamed: 0,climate_identifier,cooling_degree_days,cooling_degree_days_flag,direction_max_gust,direction_max_gust_flag,heating_degree_days,heating_degree_days_flag,id,local_date,...,station_name,total_precipitation,total_precipitation_flag,total_rain,total_rain_flag,total_snow,total_snow_flag,x,y,climdate_formatted
0,0,2200100,1.2,NaN,NaN,NaN,0.0,NaN,2200100.2012.8.2,2012-08-02,...,AKLAVIK A,0.0,T,0.0,T,0.0,NaN,-135.0058,68.2233,02/08/2012
1,1,2200100,0.0,NaN,NaN,NaN,1.8,NaN,2200100.2012.8.4,2012-08-04,...,AKLAVIK A,0.0,NaN,0.0,NaN,0.0,NaN,-135.0058,68.2233,04/08/2012

In [55]:
#Doing a merge
fire_clim1 = pd.merge(fire1qc, cdtotal_firedate1, left_on = ["firedate_formatted", "climlatitude", "climlongitude"], 
                      right_on = ["climdate_formatted", "y", "x"], how = "inner")

MergeError: Passing 'suffixes' which cause duplicate columns {'Unnamed: 0_x'} is not allowed.

In [16]:
fire_clim1.shape #There has been a loss of 804 datapoints from fire1qc.

(4710, 62)

In [17]:
fire_clim1.to_csv(r"C:\\Users\\ROHAN\\erdos\\fireclimate1.csv")

In [19]:
#Trying to find those missing 804 points
fire_missing1 = pd.merge(fire1qc, fire_clim1, on = ["firedate_formatted", "climlatitude", "climlongitude"], how = "outer", indicator = True)

In [20]:
fire_missing1.to_csv(r"C:\\Users\\ROHAN\\erdos\\firemissingvalues1.csv")

In [2]:
fire_clim1 = pd.read_csv("fireclimate1.csv")

In [5]:
fc1 = fire_clim1.query("cause == 'L'")

In [7]:
fc2 = fc1.query("sizeha > 0")

In [8]:
fc2.shape

(840, 63)

In [12]:
together2 = pd.merge(cdtotal2, fc2, left_on = ["climdate_formatted", "y", "x"], 
                     right_on = ["firedate_formatted", "climlatitude", "climlongitude"], how = "left", indicator = True )

In [13]:
together2.head()

,climate_identifier_x,cooling_degree_days_x,cooling_degree_days_flag_x,direction_max_gust_x,direction_max_gust_flag_x,heating_degree_days_x,heating_degree_days_flag_x,id_x,local_date_x,local_day_x,...,total_precipitation_y,total_precipitation_flag_y,total_rain_y,total_rain_flag_y,total_snow_y,total_snow_flag_y,x_y,y_y,climdate_formatted_y,_merge
0,2200100,1.2,NaN,NaN,NaN,0.0,NaN,2200100.2012.8.2,2012-08-02,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,2200100,0.0,NaN,NaN,NaN,1.8,NaN,2200100.2012.8.4,2012-08-04,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,2200100,0.0,NaN,NaN,NaN,1.7,NaN,2200100.2012.8.5,2012-08-05,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,2200100,0.0,NaN,NaN,NaN,0.7,NaN,2200100.2012.8.6,2012-08-06,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,2200100,0.0,NaN,NaN,NaN,4.2,NaN,2200100.2012.8.7,2012-08-07,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only